*,
*::before,
*::after {
  box-sizing: border-box;
}
html{width: 1442px;}
body{
    font-family: Roboto, sans-serif;
    background-color: #ffff;
    font-size: 16px;
    margin: 0px;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;

}
ul p{
    color: #757575;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}
ul li{
    list-style: none;
}
.header-logo, .footer-logo {
    color: #4D5AE5; 
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    }
.header-logo{
display: inline-block;
margin-left: 156px;
margin-right: 36px;
}
.nav-link{
    display: inline-block;
   margin-right: 40px;
   margin-top: 24px;
   margin-bottom: 24px;
   ;
    
}
.webstudio-header ul{display: inline-block;}
.webstudio-footer span{
    color: #ffff;
}
.header-logo span{
    color: #212121;
}
.webstudio-header{
    color: #212121;
    border: 1px solid #e7e9fc;
    width: 1442px;
    height: 74px;
    
}
.nav-link a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    display: inline-block;
}
.nav-link a:hover{
    color: #4D5AE5;
}
.nav-link a:focus{
outline: #404bbf;
}
.nav-linkgrey a{
    color: #434455;
}
.nav-linkgrey a:hover{
    color: #4D5AE5;
}
.nav-linkgrey a:focus{
    outline: #404bbf;
}
.nav-linkgrey{
    display: inline-block;
 margin-right: 40px; 
}
.nav-linkgrey1 a{
    color: #434455;
}
.nav-linkgrey1 a:hover{
    color: #4D5AE5;
}
.nav-linkgrey1 a:focus{
    outline: #404bbf;
}
.nav-linkgrey1{
    display: inline-block;
   margin-right: 40px;
   margin-left: 332px;
}
.webstudio-header{
    display: inline-block;
}

.start-section{
    background-color: #2E2F42;
    height: 600px;
    width: 1440px
}
.start-section h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffff;
    letter-spacing: 0.02em;
    font-family: Roboto;
    width: 496px;
    height: 120px;
    text-align: center;
   padding-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    margin-bottom: 168px;
    margin-top: 0px;
    
    

    
}
.start-section button{
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffff;
    letter-spacing: 0.04em;
    font-family: Roboto, sans-serif;
   width: 201px;
   height: 74px;
   margin-top: 0px;
   margin-left: 636px;
   margin-right: 635px;
   margin-bottom: 188px;
   padding: 16px 32px;
}


.start-section button:hover{
    background-color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.start-section button:focus{
    outline: #188ce8;
}
.section-button button{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background-color: #f4f4fd;
    color: #4D5AE5;
    font-family: Roboto, sans-serif;
    padding: 12px 24px;
   border-radius: 4px;
   border: 1px solid #e7e9fc;
   margin-right: 24px;
   margin-bottom: 40px;
   margin-top: 51.5px;
}
.button-hover{
    margin-left: 387px;
}
div h1{
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.25);
}
.section-button li{display: inline-block;}
.section-button button:hover{
    color: #ffff;
    background-color: #404bbf;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}
.section-button button:focus{
    outline: #404bbf;
}
.section-main h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-left: 16px;
    margin-top: 32px;
    margin-right: 54px;
    margin-bottom: 8px;
}

.section-main ul p{
    color: #434455;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 400;
    letter-spacing: 0.03em;
margin-left: 16px;
margin-bottom: 32px;
   
}
.section-main p{
   
    font-size: 16px;
    line-height: 24px; 
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-left: 16px;
margin-bottom: 32px;
}
.section-main li{
    display: inline-block;
    border: 1px solid #EEEEEE;
    margin-right: 24px;
    margin-top: 48px;
}
.section-main .main2 {
   margin-left: 116px;
}
.downportfolio{
    margin-bottom: 120px;
}
.studio-sectionmain h2{
    color: rgba(255, 255, 255, 0.25);
}
.studio-sectionmain h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: 264px;
    height: 24px;
    margin-left: 24px;
    margin-bottom: 8px;
   
}
.studio-sectionmain p{
    font-size: 16px;
    line-height: 24px;
    width: 264px;
    height: 72px;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    margin-left: 24px;
}
.studio-sectionmain li{
display: inline-block;
}
.studio-sectionmain1{
    margin-left: 156px;
}

.section-topics h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    width: 324px;
    height: 40px;
    letter-spacing: 00.02em;
    color: #2E2F42;
    margin-top: 120px;
    margin-left: 559px;
    margin-right: 558px;
    margin-bottom: 72px;
}
.section-topics li{
    margin-left: 24px;
    padding: 0px;
}
.section-topics1 img{
    margin-left: 92px;
    padding: 0px;
}
.section-topics3{
   
}

.section-team{
    background-color: #f5f4fa;
}
.section-team li{
    display: inline-block;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    
}
.section-team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 00.02em;
    margin-left: 639px;
    color: #2E2F42;
    padding-top: 120px;
    margin-top: 120px;
    margin-bottom: 72px;
    
}
.section-team h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    padding-top: 32px;
    padding-left: 65px;
    padding-right: 65px;
    letter-spacing: 0.02em;
}
.section-team p{
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 8px;
    padding-bottom: 32px;
    margin: 0px;
}
.section-team li{
   margin-right: 24px;
   margin-bottom: 120px;

}
.section-team li h3{
    text-align: center;
}
.section-team p{
    text-align: center;
}
.section-topics li{
    display: inline-block;
}
.section-team{
    padding-left: 116px;
    margin-bottom: 0px;
    
}


.contact-link a:hover{
    color: rgba(255, 255, 255, 1);
}
.webstudio-footer{
    background-color: #2E2F42;
    height: 312px;
    width: 1440px;
    padding-left: 116px;
    padding-top: 100px;
}

.footer-logo{
   padding-left: 40px;
    
}
.contact-link{
   

}
.contact-link a{
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    color: #757575;
}


